<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"   "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myUserApp">

<head>
  <script src="resources/js/vendor/jquery.min.js"></script>
  <script src="resources/js/vendor/bootstrap.min.js"></script>
  <link href="resources/css/app.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="resources/css/vendor/bootstrap.min.css">
    
</head>
  
<body>
    <br />

<br />
<!-- <a href="logout"><spring:message code="user.logout"/></a> -->

			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			  
			    <div class="col-md-8">
			      <div class="navbar-header">
			      <a class="navbar-brand" href="#">Test Application</a>
			    </div>
			     <ul class="nav navbar-nav">
<!-- 			      <li class="active"><a ui-sref="#">Home</a></li> -->
			     	<li><a ui-sref="emp">Employees</a></li>
					<li><a ui-sref="meeting">Meetings</a></li>
			    	<li><a ui-sref="shop">Company List</a></li>
					<li><a ui-sref="guiForm">Dynamic Form</a></li>
			      	<li><a ui-sref="booking">Booking</a></li>
			      
			    </ul>
			    </div>
			   <div class="col-md-4">
			 <div class="pull-right">
			<!--    <spring:message code="user.logged"/>: <sec:authentication property="name"/> 
				<sec:authentication property="authorities"/>
			  			  <a href="logout"><spring:message code="user.logout"/></a> -->
			  			  <li> <a href="">logout</a> </li>
			</div>
			  
			
			  
			   </div>
			  </div>
			  
			</nav>
     
     
    <!--  <div class="col_1">
			<div class="col-md-4 span_8">
				<div class="activity_box">
					<h3>Inbox</h3>
					<div class="scrollbar scrollbar1" id="style-2">
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src="images/1.png" class="img-responsive" alt=""></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">John Smith</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src="images/5.png" class="img-responsive" alt=""></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">Andrew Jos</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src="images/3.png" class="img-responsive" alt=""></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">Adom Smith</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src="images/4.png" class="img-responsive" alt=""></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">Peter Carl</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src="images/1.png" class="img-responsive" alt=""></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">John Smith</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 span_8">
				<div class="activity_box activity_box1">
					<h3>chat</h3>
					<div class="scrollbar" id="style-2">
						<div class="activity-row activity-row1">
							<div class="col-xs-3 activity-img"><img src="images/1.png" class="img-responsive" alt=""><span>10:00 PM</span></div>
							<div class="col-xs-5 activity-img1">
								<div class="activity-desc-sub">
									<h5>John Smith</h5>
									<p>Hello !</p>
								</div>
							</div>
							<div class="col-xs-4 activity-desc1"></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row activity-row1">
							<div class="col-xs-2 activity-desc1"></div>
							<div class="col-xs-7 activity-img2">
								<div class="activity-desc-sub1">
									<h5>Adom Smith</h5>
									<p>Hi,How are you ? What about our next meeting?</p>
								</div>
							</div>
							<div class="col-xs-3 activity-img"><img src="images/3.png" class="img-responsive" alt=""><span>10:02 PM</span></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row activity-row1">
							<div class="col-xs-3 activity-img"><img src="images/1.png" class="img-responsive" alt=""><span>10:00 PM</span></div>
							<div class="col-xs-5 activity-img1">
								<div class="activity-desc-sub">
									<h5>John Smith</h5>
									<p>Yeah fine</p>
								</div>
							</div>
							<div class="col-xs-4 activity-desc1"></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row activity-row1">
							<div class="col-xs-2 activity-desc1"></div>
							<div class="col-xs-7 activity-img2">
								<div class="activity-desc-sub1">
									<h5>Adom Smith</h5>
									<p>Wow that's great</p>
								</div>
							</div>
							<div class="col-xs-3 activity-img"><img src="images/3.png" class="img-responsive" alt=""><span>10:02 PM</span></div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<form>
						<input type="text" value="Enter your text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your text';}" required="">
						<input type="submit" value="Send" required="">		
					</form>
				</div>
			</div>
			<div class="col-md-4 span_8">
				<div class="activity_box activity_box2">
					<h3>todo</h3>
					<div class="scrollbar" id="style-2">
						<div class="activity-row activity-row1">
							<div class="single-bottom">
								<ul>
									<li>
										<input type="checkbox" id="brand" value="">
										<label for="brand"><span></span> Sunt in culpa qui officia.</label>
									</li>
									<li>
										<input type="checkbox" id="brand1" value="">
										<label for="brand1"><span></span> Fugiat quo voluptas nulla.</label>
									</li>
									<li>
										<input type="checkbox" id="brand2" value="">
										<label for="brand2"><span></span> Dolorem eum.</label>
									</li>
									<li>
										<input type="checkbox" id="brand9" value="">
										<label for="brand9"><span></span> Pain that produces no resultant.</label>
									</li>
									<li>
										<input type="checkbox" id="brand8" value="">
										<label for="brand8"><span></span> Cupidatat non proident.</label>
									</li>
									<li>
										<input type="checkbox" id="brand7" value="">
										<label for="brand7"><span></span> Praising pain was born.</label>
									</li>
									<li>
										<input type="checkbox" id="brand3" value="">
										<label for="brand3"><span></span> Computer &amp; Electronics</label>
									</li>
									<li>
										<input type="checkbox" id="brand4" value="">
										<label for="brand4"><span></span> Dolorem ipsum quia.</label>
									</li>
									<li>
										<input type="checkbox" id="brand5" value="">
										<label for="brand5"><span></span> Consequatur aut perferendis.</label>
									</li>
									<li>
										<input type="checkbox" id="brand6" value="">
										<label for="brand6"><span></span> Dolorem ipsum quia.</label>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
					<form>
						<input type="text" value="Enter your text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your text';}" required="">
						<input type="submit" value="Submit" required="">		
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			
		</div> -->
              	<script src="resources/js/vendor/angular.js"></script>
              	<script src="resources/js/vendor/angular-route.min.js"></script>
              <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
              	
                <script data-require="angular-animate@1.2.11" data-semver="1.2.11" src="resources/js/vendor/angular-animate.min.js"></script>
<!--           <script src="<c:url value="/resources/js/controller/home.js" />"></script> -->
        
				<script src="resources/js/app.js"></script>
				
				<script src="resources/js/controller/home.js"></script>
				<script src="resources/js/controller/company_controller.js"></script>
				<script src="resources/js/controller/emp_controller.js"></script>
				<script src="resources/js/controller/meetingController.js"></script>
				<script src="resources/js/controller/guiFormController.js"></script>
				<script src="resources/js/controller/bookingController.js"></script>
				
				
				<script src="resources/js/service/company_service.js"></script>
				<script src="resources/js/service/emp_service.js"></script>
				<script src="resources/js/service/meetingService.js"></script>
				
				<script src="resources/js/service/guiFormService.js"></script>
				<script src="resources/js/service/bookingService.js"></script>
				
				
		

   <div ui-view></div>
    </body>
</html>
