<!-- {{shopList}} -->

    <style>
      .firstname.ng-valid {
          background-color: lightgreen;
      }
      .firstname.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .firstname.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }
      
	.lastname.ng-valid {
          background-color: lightgreen;
      }
      .lastname.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .lastname.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }

    </style>

      <div class="generic-container">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Meeting Form2 </span></div>
              <div class="formcontainer">
                  <form ng-submit="mctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="mctrl.meeting.meetingId" />
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">F Name</label>
								<div class="col-md-7">
									<input type="text" ng-model="mctrl.meeting.subject" name="subject"	class="firstname form-control input-sm"
										placeholder="Enter meeting subject" required ng-minlength="3" />
									<div class="has-error" ng-show="myForm.$dirty">
										<span ng-show="myForm.subject.$error.required">This is a
											required field</span> <span ng-show="myForm.subject.$error.minlength">Minimum
											length required is 3</span> <span ng-show="myForm.subject.$invalid">This
											field is invalid </span>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">meetingDate</label>
								<div class="col-md-7">
								
									<!-- <input type="text" ng-bind="date | date:'MM/dd/yyyy'" ng-model="mctrl.meeting.meetingDate" name="meetingDate" class="name form-control input-sm"
										placeholder="Enter meeting date" required ng-minlength="3" />
								 -->
								<!--   <input type="date" id="meetingDate" name="meetingDate" ng-model="mctrl.meeting.meetingDate"
       placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
   <div role="alert">
     <span class="error" ng-show="myForm.meetingDate.$error.required">
         Required!</span>
     <span class="error" ng-show="myForm.meetingDate.$error.date">
         Not a valid date!</span> -->
    </div>
    <!-- <tt>value = {{mctrl.meeting.meetingDate | date: "yyyy-MM-dd"}}</tt><br/>
    <tt>myForm.meetingDate.$valid = {{myForm.meetingDate.$valid}}</tt><br/>
    <tt>myForm.meetingDate.$error = {{myForm.meetingDate.$error}}</tt><br/>
    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/> -->
								</div>
							</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">Employees</label>
								<!--                                     <select ng-model="ctrl.group.users" name="" class="select input-sm" ng-options="ctr.id as ctr.username for ctr in userArray track by ctr.id" ng-change="GetValue(ctrl.group.users)"> -->
		
								<select ng-model="mctrl.selEmployee" name="" class="select input-sm" ng-options="ctr.firstname for ctr in emplArray"
									ng-change="GetValue(mctrl.selEmployee)">
									<option value="">--Select--</option>
								</select> Selected Value is:{{ectrl.emp.id}}
							</div>
						</div>
		
						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="{{!mctrl.meeting.meetingId? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
								<button type="button" ng-click="mctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
							</div>
						</div>

					</form>
                     </div>
                     </div>
                     
              
             
<!--                            {{meetingList}} -->
              
              <div class="panel-heading"><span class="lead">List of emps </span></div>
              <div class="tablecontainer">
             
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Meeting Subject</th>
<!--                               <th>Date</th> -->
                              <th>Employees</th>
                              
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                  
                          <tr ng-repeat="s in meetingList">
                       
                              <td><span ng-bind="s.meetingId"></span></td>
                              <td><span ng-bind="s.subject"></span></td>
<!--                               <td><span ng-bind="s.meetingDate"></span></td> -->
                              <td><span ng-bind-template="{{s.employees[0].firstname}} {{s.employees[0].lastname}}"></span></td>
<!--                               <p ng-bind-template="{{s.employees[0].firstname}} {{s.employees[0].firstname}}"></p> -->
                              
                              <td>
                              <button type="button" ng-click="mctrl.edit(s.meetingId)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="mctrl.remove(s.meetingId)" class="btn btn-danger custom-width">Remove</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
         
 </div>